.result-wrapper {
  min-height: 100vh;
  background-color: #0a0a0a;
  color: #fff;
  font-family: 'Times New Roman', serif;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.result-panel {
  width: 100%;
  max-width: 1300px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  padding: 30px;
}

.result-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #0ff;
  margin-bottom: 20px;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
  letter-spacing: 1px;
}

.result-subtitle {
  font-size: 1.2rem;
  color: #00f2ff;
  margin-bottom: 10px;
  font-weight: 600;
}

.result-search {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #111;
  color: #fff;
  font-family: 'Times New Roman', serif;
}


.result-content {
  display: flex;
  gap: 30px;
}

.result-left {
  flex: 1.2;
  overflow-y: auto;
  max-height: 75vh;
}

.result-map {
  flex: 1;
  padding-left: 10px;
}

.result-card {
  background-color: #111;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.result-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  font-size: 0.95rem;
  margin-top: 12px; 
}

.result-table th,
.result-table td {
  border: 1px solid #333;
  padding: 8px 12px;
  text-align: center;
  /* margin-top: 10px; */
}

.result-table th {
  background-color: #222;
  color: #00f2ff;
  font-weight: 600;
  margin-top: 10px;
}

.result-row:hover {
  background-color: #1a1a1a;
  cursor: pointer;
}


.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.play-button {
  padding: 6px 12px;
  border-radius: 8px;
  background-color: #00f2ff;
  border: none;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  box-shadow: 0 0 6px #00f2ff;
}


@keyframes glow {
  from {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  }
  to {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
  }
}


.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: rgba(0, 255, 255, 0.05); /* subtle glow */
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

