.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loading-bar {
  height: 6px;
  margin-top: 10px;
  width: 100%;
  background: linear-gradient(270deg, #00f2ff, #0ff, #00f2ff);
  background-size: 600% 100%;
  animation: loading-glow 2s linear infinite;
  border-radius: 8px;
  box-shadow: 0 0 10px #00f2ff;
}

@keyframes loading-glow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
